source https://api.nuget.org/v3/index.json
strategy: max
framework: netstandard2.0
storage: none


group UnitTest
	source https://api.nuget.org/v3/index.json
	strategy: max
	framework: netstandard2.0,netcoreapp2.0
	storage: none

	nuget FluentAssertions
	nuget Microsoft.NET.Test.Sdk
	nuget NUnit
	nuget NUnit3TestAdapter >= 3.8		# dotnet CLI support was added in 3.8
